.homepage-movies-container {
  margin: 0;
  background-color: black;
  width: 1440px;
}
.top-Container {
  height: 501px;
  width: 1440px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  background-image: url('https://res.cloudinary.com/dayrcnlzh/image/upload/v1630670515/Image_bhi75o.jpg');
}
.film-name {
  height: 63px;
  width: 195px;
  left: 165px;
  margin-top: 70px;
  border-radius: 0px;
  font-family: 'HK Grotesk';
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 63px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
}
.certificate {
  height: 23px;
  margin-left: 165px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 195px;
  color: #ffffff;
}
.description {
  height: 78px;
  width: 632px;
  left: 168px;
  border-radius: 0px;
  font-family: 'HK Grotesk';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
}

.button {
  height: 48px;
  width: 77px;
  margin-left: 164px;
  margin-top: 32px;
  border-radius: 4px;
  padding: 12px, 24px, 12px, 24px;
  background: #ffffff;
  margin-bottom: 40px;
}
.movies-genere {
  color: #ffffff;
}
.movies-genere {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 165px;
  margin-right: 300px;
  margin-top: 24px;
}
.head {
  height: 26px;
  width: 128px;
  border-radius: 0px;
  font-family: 'HK Grotesk';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #64748b;
}
